@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
/* font-family: 'Fjalla One', sans-serif; */

* {
     margin: 0;
     padding: 0;
}

body {
     width: 100%;
     font-family: 'Fjalla One', sans-serif;
     position: relative;
}

.header {
     width: 100%;
     height: 97vh;
     display: grid;
     grid-template-columns: 40% 60%;
     background: black;
     color: white;
     /* border: solid green 2px ; */
}

.self-intro>h1 {
     font-size: 130px;
     width: 50%;
     position: relative;
     left: 30%;
     top: 5px;
}

#span {
     text-decoration: overline rgb(43, 43, 51);
}

.intro-paragraph {
     position: relative;
}

.intro-paragraph>p {
     font-size: 23px;
     position: absolute;
     left: 20%;
     top: 30%;
     width: 50%;
}

.button {
     background: white;
     position: relative;
     left: 38%;
     top: 55%;
}

.button:hover {
     background: rgb(20, 20, 20);
     color: white;
}

#overlay {
     width: 100%;
     height: 100vh;
     background: rgba(0, 0, 0, .8);
     position: fixed;
     left: 0;
     top: 0;
     z-index: 99;
}

.spinner {
     width: 25px;
     height: 25px;
     /* border: solid 2px rgb(31, 180, 226); */
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     border-top: solid red 2px;
     border-radius: 100%;
     animation: spin 1s infinite linear;
}

.spinner2 {
     content: '';
     /* border: solid white 3px; */
     position: absolute;
     width: 20px;
     height: 20px;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     border-bottom: solid red 2px;
     border-radius: 100%;
     animation: antispin 1s infinite linear;
}

#overlay>p {
     position: absolute;
     top: 49%;
     left: 50.5%;
     transform: translate(0%, -50%);
     animation: colorShow 1s infinite linear;
}

#aboutMe {
     margin-top: 20px;
}

.abouhead>h3 {
     text-align: center;
     color: rgb(207, 207, 207);
     text-decoration: overline black;
}

.abouinformation {
     display: grid;
     grid-template-columns: 50% 50%;
}

.github_image {
     box-sizing: border-box;
}

.github_info {
     /* border: solid red 2px; */
     /* background: black; */
     color: rgb(207, 207, 207);
     margin-left: 10px;
}

.github_info>h4,
p {
     margin: 10px;
}

.github_info>ul {
     margin-left: 40px;
}

.btn1 {
     background: rgb(207, 207, 207);
     color: rgb(107, 50, 29);
}

.btn1:hover {
     color: rgb(207, 207, 207);
     background: rgb(107, 50, 29);
}

.btn2 {
     background: black;
     color: rgb(207, 207, 207);
}

.btn2:hover {
     background: rgb(207, 207, 207);
     color: black;
}

.neighbour_image {
     margin-left: 10px;
}

.neighbour_image,
.neighbour_info {
     margin-top: 20px;
     margin-bottom: 20px;
}

.neighbour_info>ul {
     margin-left: 30px;
}

.neighbour_info>p {
     margin-left: 0px;
}

footer {
     background: black;
     color: rgb(78, 77, 77);
}

footer h4 {
     text-align: center;
}

.icos {
     width: 40px;
     height: 40px;
     border-radius: 5px;
     box-sizing: border-box;
     box-shadow: rgb(216, 22, 61, .7) 2px 2px 10px;
     /* border: solid crimson 2px; */
     /* position: relative; */
}

.icos::before {
     content: '';
     position: absolute;
     border: solid red 2px;
     left: 0;
     top: 0;
     width: 100%;
     /* height: 100%; */
     display: block;
     background: red;
     /* box-sizing: border-box;
     box-shadow: rgb(216, 22, 61, .7)  2px 2px; */
     /* pointer-events: none;
     cursor: pointer; */

}


address {
     align-items: center;
}

.socialmedia {
     /* display: flex; */
     /* border: solid maroon 1px; */
     width: 40px;
     /* background: white; */
     position: fixed;
     top: 47%;
     right: 0;
     transform: translateY(-50%);
     /* position: fixed; */
     /* justify-content: end; */
}

.socialmedia a {
     color: rgb(106, 106, 236);
     padding: 0px 4px;
     border-radius: 2px;
}

#in:hover {
     color: #fff;
     background: #0E76A8;
}

#git:hover {
     color: #fff;
     background: #24292e;
}


#fb:hover {
     color: #fff;
     background: #1778F2;
}


#ig:hover {
     color: #fff;
     background: linear-gradient(to bottom, #515BD4, #8134AF, #DD2A7B, #F58529, #FEDA77);
}

#gml:hover {
     color: #fff;
     background: linear-gradient(to right, #3369E8, #D50F25, #EEB211);
}

#cll:hover {
     color: #fff;
     background: #24292e;
}

.contact {
     color: rgb(207, 207, 207);
     text-align: center;
}

.contact a {
     color: rgb(131, 129, 129);
}

.form {
     position: relative;
     left: 50%;
     transform: translateX(-50%);
}

#subj,
#fro {
     width: 50%;
}

#bod {
     width: 70%;
}

#submit {
     background: rgb(248, 248, 248);
}

#submit:hover {
     background: rgb(20, 20, 20);
     color: white;
}

@keyframes spin {
     from {
          transform: rotate(0deg);
     }

     50% {
          border-top: solid 2px rgb(240, 240, 240);
     }

     to {
          transform: rotate(360deg);
     }
}



@keyframes antispin {
     from {
          transform: rotate(360deg);
     }

     50% {
          border-bottom: solid 2px rgb(240, 240, 240);
     }

     to {
          transform: rotate(0deg);
     }
}

@keyframes colorShow {
     from {
          color: white;
     }

     to {
          color: red;
     }
}

@media screen and (max-width: 750px) {

     * {
          padding: 0;
          margin: 0;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     }


     body {
          width: 100%;
          position: relative;
          overflow-x: hidden;
     }

     .header {
          display: block;
          height: 23vh;
          width: 100%;
     }

     .self-intro {
          width: 100%;
          position: relative;
          align-items: center;
     }

     .self-intro>h1 {
          font-size: 35px;
          width: 100%;
          left: 0%;
          padding: 10px;
     }

     .intro-paragraph>p {
          font-size: 14px;
          left: 0%;
          top: 0;
          width: 100%;
          padding: 5px;
     }


     .abouinformation {
          display: block;
     }

     #aboutMe {
          font-size: 14px;
     }

}